.purchase-input{
    width: 300px;
    margin: 5px;
    border-radius: 5px;
}
.purchase-input:focus{
    box-shadow: 0 3px 20px 0px rgb(0 0 0 / 25%);
}
.purchase-btn{
    background : #0d7a52!important;
    width: 50%;
    font-size: 1rem;
    text-align: center;
    height: 44px;
    border-radius: 3px;
    border: none;

}
.purchase-btn:hover{
    background: #254b3d!important;
}