.navigation-bg{
    background-color: rgb(15, 64, 87);
}
.nav-cart{
    background-image: url(../../../images/nav/basket.svg);
}
.nav-icon{
    /* float: left; */
    height: 30px;
    padding: 7px 5px 10px 3px;
    width: 40px;
    margin-top: -6px;
    background-repeat: no-repeat;
}