.digital-cart{
    transition: all .2s ease-out;
    box-shadow: 0 3px 20px 0px rgb(0 0 0 / 12%);
    border-radius: .5rem !important;
}
.digital-cart:hover{
    transform: translateY(-10px);
    box-shadow: 0 1rem 3rem rgba(31,45,61,.125)!important;
}
.btn-products{
    /* background: rgb(34, 62, 94); */
    background: #24409c;
    font-family: Roboto;
    text-transform: uppercase;
    cursor: pointer;
    width: 200px;
    color: white;
    border-color: #24409c;
    padding: 8px 25px;
    border-radius: 10px;
    transition: all .3s ease-in;
}
.btn-products:hover{
/* background-color: slateblue; */
    border-color: #24409c;
    background-color: transparent;
    color: #24409c;
    border-radius: 10px;
}
.favorite{
    cursor: pointer;
}
.icon-color{
    color: orange;
}