.details-cart{
    transition: all .2s ease-out;
    box-shadow: 0 3px 20px 0px rgb(0 0 0 / 12%);
    border-radius: .5rem !important;
}
.divider{
    height: 2px;
    width: 120px;
    background-color: tomato;
}